@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-pink: #ff0084;
    --color-pink2: #c7066a;
    --color-purple1: #560099;
    --color-purple2: #5600db;
    --color-almostWhite: #f2f2f2;
  }
}

@layer components {
  .btn {
    border-width: 0;
  }
  .btn-primary {
    background-color: var(--color-pink);
  }
  .btn-primary:hover {
    background-color: var(--color-pink2);
  }
  .btn-secondary {
    background-color: var(--color-purple1);
  }
  .btn-secondary:hover {
    background-color: var(--color-purple2);
  }
}

html, body {
  background-color: var(--color-purple1) !important;
}

body {
  color: #fff;
  background-image: linear-gradient(358deg, #111 0%, var(--color-purple2) 40%, var(--color-purple1) 100%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

a {
  transition: all 200ms ease;
}
